body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-top:5vh;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
  font-size: 200%
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

h2{
  font-weight: 700;
  margin: 0;
  text-align: center;
}

p{
  font-weight: 700;
      margin: 10 0 10px;
  text-align: center;
}

.instaimg img {
  margin-bottom: 30px;
}

.instaimg img:hover {
  opacity:0.8;
  -moz-opacity:0.8;
  -webkit-opacity:0.8;
}









                /*________________________ Style for navbar ________________________*/

.navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus {
color: #c1a0a4;  /*Sets the text hover color on navbar*/
}

.navbar-custom .navbar-nav > .active > a, .navbar-custom .navbar-nav > .active >   
 a:hover, .navbar-custom .navbar-nav > .active > a:focus {
color: #c1a0a4; /*BACKGROUND color for active*/
background-color: white;
}

  .navbar-custom {
    background-color: white;
    border-color: #030033;
}

  .navbar-custom a { /*Changes color of BIEA in top left corner - link class*/
    color: #c1a0a4;
}

  .dropdown-menu > li > a:hover, /*NOT BEING USED RIGHT NOW - CAN DELETE*/
   .dropdown-menu > li > a:focus {
    color: #c1a0a4;
   text-decoration: none;
  background-color: #c1a0a4;  /*change color of links in drop down here*/
   }

  .navbar-custom .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu {
    background-color: white;
    color:#c1a0a4;
  } /*Added this to change change color of links in drop down*/

  .navbar-custom .nav > li > a:hover,
  .navbar-custom .nav > li > a:focus {
    color: white;
    text-decoration: none;
    background-color: #c1a0a4; /*Change rollover cell color here*/
  }

  .icon-bar {
   background-color: #c1a0a4; /*Changes color of collapsed button lines*/
    }

  .navbar-toggle.collapsed {
   background-color: transparent; /*Changes color of collapsed button background*/
   border-color: #fcf7f8; /*Changes color of collapsed button border*/
    }

  .navbar-custom .navbar-nav > li > a {
   color: #c1a0a4; /*Change active text color here*/
    }

                /* ____________ End of style for navbar ____________ */









.jumbotron {
  display: flex;
  align-items: center;
  background-image: url("https://images.pexels.com/photos/262918/pexels-photo-262918.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb.jpg");
  background-size: cover;
  color: #ffffff;
  height: 400px;
  object-fit: scale-down;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  background-position: center;
}
/*
  background-image: url("https://images.pexels.com/photos/262918/pexels-photo-262918.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb.jpg");
*/

.jumbotron h2 {
  font-size: 45px;
  font-weight: 700;
  margin: 0;
  color: #fff;
  text-align: center;
}

.jumbotron h3 {
  font-size: 20px;
  font-weight: 400;
    color: #fff;
  text-align: center;
}



section .row img {
  margin: 0 0 30px;
  width: 100%;
}


.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #D7CFCF;
  text-shadow: none;
  background-color: #18171E;
  margin-top: 0px;
  margin-bottom: 20px;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #18171E;
}

.btn-secondary {
  background-color: #18171E;
  color: #ffffff;
  margin: 0 0 30px;
}


footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}


.welcome  {
  padding-top: 40px;
  padding-bottom: 40px;
}

.welcome h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  color: black;
  text-align: center;
}

.welcome h3 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  color: black;
  text-align: center;
}

.greybox {
  background-color: #E8DFE0;
  background-size: cover;
  background-position: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#categories {
  padding-top: 40px;
  padding-bottom: 00px;
}



/* Styles for page jumbotrons */

#Landingpage  {
  
}


#Lunchdinnerheader  {

  background-color: #E8DFE0;

  color: black;
  align-items: center;
}

#Lunchdinnerheader h2 {

  align-items: center;
}












