body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

h2{
  font-weight: 700;
  margin: 0;
  text-align: center;
}

p{
  font-weight: 700;
      margin: 10 0 10px;
  text-align: center;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url("https://images.pexels.com/photos/262918/pexels-photo-262918.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb.jpg");
  background-size: cover;
  color: #ffffff;
  height: 400px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
  text-align: center;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}


.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #18171E;
  margin-top: 40px;
  margin-bottom: 20px;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #18171E;
}

.btn-secondary {
  background-color: #18171E;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}


#favorites {
  margin-top: 10px;
  margin-bottom: 20px;
}
